@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: hsl(217, 28%, 15%);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color:  hsl(0, 0%, 100%);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  /* background-color: blue; */
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
}
.Intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: 70%; */
  /* height: 100vh; */

  /* background-color: blue; */
}
.introp {
  width: 35%;
  /* height: 50px; */
  /* background-color: blue; */
}
.introp img {
  width: 100%;
}
.Intro .bold {
  text-align: center;
  font-size: 24px;
  width: 35%;
  font-weight: 700;
  /* align-items: center;
  text-align: center; */
  font-family: "Raleway", sans-serif;
}
.Intro .abt {
  align-content: center;
  text-align: center;
  font-size: 14px;
  width: 32%;
}
.button {
  background-color: hsl(176, 68%, 64%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 10%;
}
.button:hover{
  background-color:  hsl(198, 60%, 50%);
}
.service {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color:hsl(218, 28%, 13%);
}
.service .serv {
  width: 80%;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.service .serv .service_info {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: violet; */
  align-items: center;
  justify-content: center;
}
.service_info .summary {
  text-align: center;
  font-size: 16px;
  width: 50%;
  font-weight: 700;
  /* align-items: center;
  text-align: center; */
  font-family: "Raleway", sans-serif;

}
.service_info .offer_info {
  width: 70%;
  align-content: center;
  text-align: center;
  font-size: 12px;
}
.attestation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100vh; */
  background-color:hsl(218, 28%, 13%);
}
.attestation .att {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 30px;
  /* background-color: thistle; */
  /* padding-left: 200px; */
}
.attestation .att .att_prod_img{
  width: 50%;
}
img {
  width: 100%;
}
.attestation .att .att_prod {
  width: 40%;
}
.attestation .att .att_prod .summary {
  /* text-align: center; */
  font-size: 24px;
  width: 60%;
  font-weight: 700;
  /* align-items: center;
  text-align: center; */
  font-family: "Raleway", sans-serif;
}
.attestation .att .att_prod p {
  font-size: 12px;
}
.attestation .att .att_prod a {
  color:  hsl(176, 68%, 64%);
}
.attestation .att .att_prod a:hover {
  color:  hsl(198, 60%, 50%);
}
.attestation .att .att_prod a img {
  height: 12px;
  width: 12px;
  text-decoration:  hsl(176, 68%, 64%);
}
.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color:hsl(218, 28%, 13%);
  position: relative;
}
.profile > img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 75px;
  left: 160px;

}
.profile .prof {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  z-index: 1;
}
.profile .prof .profile_info {
  width: 25%;
  background-color: hsl(219, 30%, 18%);
  padding: 20px;
  font-size: 13px;
  box-shadow: 10px 10px 10px rgb(37, 36, 36);
}
.profile .prof .profile_info .profile_about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 30%;
}
.profile .prof .profile_info .profile_about img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.profile .prof .profile_info .profile_about .profile_individual {
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.profile_individual .name {
  font-size: 12px;
  width: 80%;
  font-weight: 700;
  /* align-items: center;
  text-align: center; */
  font-family: "Raleway", sans-serif;
}
.profile_individual span {
  font-size: 10px;
  font-weight: lighter;
}
.access {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: hsl(218, 28%, 13%);
  height: 800px;
}
.access .empty {
  height: 30%;
}
.access .acc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(219, 30%, 18%);
  width: 60%;
  height: 250px;
  position: absolute;
  top: 10%;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgb(26, 25, 25);
}
.access .acc .e_access {
  font-size: 24px;
  width: 80%;
  font-weight: 700;
  align-items: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.access .acc p {
  font-size: 12px;
  width: 60%;
  align-items: center;
  text-align: center;
}
.access .acc div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  align-items: center;
}
.access .acc div input {
  border-radius: 20px;
  width: 50%;
  height: 50%;
  border: none;
  color: rgb(100, 100, 100);
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
}
.access .acc div .button {
  width: 20%;
  height: 10%;
  /* align-items: center;
  text-align: center;
  padding: 15px 32px;
  margin: 4px 2px;
  display: inline-block; */
}
.access footer {
  /* background-color: whitesmoke; */
  height: 70%;
  width: 100%;
  display: flex;
  /* flex-direction: ; */
  justify-content: center;
  align-items: center;
  background-color:  hsl(216, 53%, 9%);
}
.access footer .foota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding-top: 10%;
  height: 60%;
  background-color:  hsl(216, 53%, 9%);
}
.access footer .logo {
  width: 100%;
  height: 30%;
  margin-left: 5%;
  /* padding-top: ; */
}
.access footer .logo img {
  width: 120px;
  /* height: 100px; */
}
.access footer .foot .sub_foot img {
  width: 10px;
  height: 10px;
}
footer .foot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color:  hsl(216, 53%, 9%);
}
footer .foot .sub_foot {
  width: 20%;
  padding: 2%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
footer .foot .sub_foot .contact, footer .foot .sub_foot .mail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} 
footer .foot .sub_foot .contact p, footer .foot .sub_foot .mail p {
  width: 90%;
}

footer .foot .sub_foot.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}
footer .foot .sub_foot.location p {
  width: 85%;
}
footer .foot .sub_foot img {
  padding-top: 10%;
  width: 15px;
  height: 15px;
}
footer .foot .sub_foot a{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.social_links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 10%;
}
.social_links .fa {
  padding: 10px;
  font-size: 12px;
  width: 5px;
  height: 5px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border: 1px solid white;
  border-color: whitesmoke;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  background-color: hsl(219, 30%, 18%);
}

@media only screen and (max-width: 380px) {
  /* nav .logo {
    width: 30%;
    /* display: flex;
    flex-direction: row; */
  /* }
  nav img {
    width: 100%;
  }
  nav ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }
  .Intro {
    width: 100%;
    height: 90vh; */
    /* background-color: aliceblue; */
  }
  /* .introp {
    width: 75%; */
    /* background-color: aliceblue; */
  
  /* img {
    width: 100%;
  }
  .Intro .bold {
    width: 90%;
    align-items: center;
    text-align: center; */
    /* background-color: blue; */

  /* .Intro .abt {
    width: 80%;
  }
  .button {
    width: 40%;
  }
  .service .serv {
    flex-direction: column;
    justify-content: space-evenly;
    height: unset;
    padding-top: 400px;
    width: 100%;
  }
  .service .serv .service_info {
    width: 100%;
  }
  .attestation .att {
    flex-direction: column;
    padding: 400px;
    width: 100%;
  }
  .attestation .att .att_prod_img {
    width: 100%;
    background-color: teal;
  }
  .attestation .att .att_prod {
    width: 100%;
    background-color: thistle;
  }  */
