@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: hsl(217, 28%, 15%);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color:  hsl(0, 0%, 100%);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  /* background-color: blue; */
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
}
.Intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: 70%; */
  /* height: 100vh; */

  /* background-color: blue; */
}
.introp {
  width: 35%;
  /* height: 50px; */
  /* background-color: blue; */
}
.introp img {
  width: 100%;
}
.Intro .bold {
  text-align: center;
  font-size: 24px;
  width: 35%;
  font-weight: 700;
  /* align-items: center;
  text-align: center; */
  font-family: "Raleway", sans-serif;
}
.Intro .abt {
  align-content: center;
  text-align: center;
  font-size: 14px;
  width: 32%;
}
.button {
  background-color: hsl(176, 68%, 64%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 10%;
}
.button:hover{
  background-color:  hsl(198, 60%, 50%);
}
.service {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color:hsl(218, 28%, 13%);
}
.service .serv {
  width: 80%;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.service .serv .service_info {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: violet; */
  align-items: center;
  justify-content: center;
}
.service_info .summary {
  text-align: center;
  font-size: 16px;
  width: 50%;
  font-weight: 700;
  /* align-items: center;
  text-align: center; */
  font-family: "Raleway", sans-serif;

}
.service_info .offer_info {
  width: 70%;
  align-content: center;
  text-align: center;
  font-size: 12px;
}
.access {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100vh; */
  background-color:hsl(218, 28%, 13%);
}
.access .acc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 30px;
  /* background-color: thistle; */
  /* padding-left: 200px; */
}
.access .acc .acc_prod_img{
  width: 50%;
}
img {
  width: 100%;
}
.access .acc .acc_prod {
  width: 40%;
}
.access .acc .acc_prod .summary {
  /* text-align: center; */
  font-size: 24px;
  width: 60%;
  font-weight: 700;
  /* align-items: center;
  text-align: center; */
  font-family: "Raleway", sans-serif;
}
.access .acc .acc_prod p {
  font-size: 12px;
}
.access .acc .acc_prod a {
  color:  hsl(176, 68%, 64%);
}
.access .acc .acc_prod a:hover {
  color:  hsl(198, 60%, 50%);
}
.access .acc .acc_prod a img {
  height: 12px;
  width: 12px;
  text-decoration:  hsl(176, 68%, 64%);
}
.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color:hsl(218, 28%, 13%);
}
.profile .prof {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}
.profile .prof .profile_info {
  width: 28%;
  background-color: hsl(219, 30%, 18%);
  padding: 20px;
}
.profile .prof .profile_info .profile_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;

}
.profile .prof .profile_info .profile_about img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

}
@media only screen and (max-width: 380px) {
  nav .logo {
    width: 30%;
    /* display: flex;
    flex-direction: row; */
  }
  nav img {
    width: 100%;
  }
  nav ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }
  .Intro {
    width: 100%;
    height: 90vh;
    /* background-color: aliceblue; */
  }
  .introp {
    width: 75%;
    /* background-color: aliceblue; */
  }
  img {
    width: 100%;
  }
  .Intro .bold {
    width: 90%;
    align-items: center;
    text-align: center;
    /* background-color: blue; */
  }
  .Intro .abt {
    width: 80%;
  }
  .button {
    width: 40%;
  }
  .service .serv {
    flex-direction: column;
    justify-content: space-evenly;
    height: unset;
    padding-top: 400px;
    width: 100%;
  }
  .service .serv .service_info {
    width: 100%;
  }
  .access .acc {
    flex-direction: column;
    padding: 400px;
    width: 100%;
  }
  .access .acc .acc_prod_img {
    width: 100%;
    background-color: teal;
  }
  .access .acc .acc_prod {
    width: 100%;
    background-color: thistle;
  } 
}
